;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[rum "0.12.3"]]

 :dev-http {8080 "public/"}
 :builds {:app {:target :browser
                :output-dir "public/js"
                :modules {:main {:entries [nz.co.arachnid.simplexclient.core]}}}}}
