;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[rum "0.12.3"]]

 :builds
 {:app {:target :browser
        :dev-http {8080 "target/"}
        :output-dir "target/js"
        :asset-path "/assets"
        :modules {:main {:entries [nz.co.arachnid.simplexclient.core]}}}}}
